pkgbase = nexoid-nexui-flask-systemd
	pkgdesc = systemd unit file for nexoid-nexui-flask
	pkgver = 0.0.2
	pkgrel = 1
	install = nexui.install
	arch = any
	groups = nexoid
	license = AGPL
	depends = systemd
	depends = ufw
	depends = nexoid-nexui-flask
	source = nexui.service
	md5sums = 7d3bb65abb98d8d7746ea9fcd121edc4
	sha1sums = d9e0c20198d7bc926e66f01df07d02d66235f73c

pkgname = nexoid-nexui-flask-systemd

