pkgbase = nexoid-nexui-flask-systemd
	pkgdesc = systemd unit file for nexoid-nexui-flask
	pkgver = 0.0.1
	pkgrel = 1
	install = nexui.install
	arch = any
	groups = nexoid
	license = AGPL
	depends = systemd
	depends = ufw
	depends = nexoid-nexui-flask-git
	source = nexui.service
	md5sums = 00790eb3fbdc274f33747dba68a9647a
	sha1sums = 4a3e9b4278c03e5608209f5f61ce31bdda555aa0

pkgname = nexoid-nexui-flask-systemd

